extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main
    +alert-success(2000)

    .container.my-3
        .row
            .col-12 
                +box-head("Chat")
        .row 
            .col-12 
                .chat(my-id=user.id)
                    .inner-body
                        each chat in chats
                            div(class=(chat.user_id==user.id ? "inner-outgoing" :"inner-incoming" ))
                                if(chat.user_id!=user.id)
                                    .inner-name #{chat.inforUser.fullName}
                                .inner-content 
                                    | #{chat.content}
                    .inner-foot
                        form(class = "inner-form" action="" method="")
                            input(
                                type = "text"
                                placeholder = "Nhập nội dung ..."
                                name = "content"
                                emoji-picker
                            )
                            span(class="button-icon btn btn-light mx-2" ) <i class="fa-regular fa-face-smile"></i>
                            div( class="tooltip" role="tooltip")
                                emoji-picker(class="light")
                            button
                                i.fa-solid.fa-paper-plane
                    