mixin sub-menu(items,pathProduct)
    ul 
        each item in items
            li
                a(href=`${pathProduct}/${item.slug}`) #{item.title} 
                if(item.children && item.children.length >0)
                    +sub-menu(item.children,pathProduct)
