extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success(2000)
    +alert-error(5000)
    .container.my-5  
        .row.justify-content-center
            .col-8
                h1.text-center.mb-4 Lấy lại mật khẩu
                form(action="/user/password/forgot" method="POST")
                    div(class = "form-group mb-3")
                        label.form-label(for="email") Email
                        input.form-control(type="email" id="email" name="email" required)
                    button.btn.btn-primary(type="submit" class="w-100") Gửi mail xác nhận
