extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success(2000)
    +alert-error(5000)
    .container.my-5  
        .row.justify-content-center
            .col-8
                h1.text-center.mb-4 Đổi mật khẩu
                form(action="/user/password/reset" method="POST")
                    div(class = "form-group mb-3")
                        label.form-label(for="password") Mật khẩu mới
                        input.form-control(type="password" id="password" name="password"  required)
                    div(class = "form-group mb-3")
                        label.form-label(for="confirmPassword") Nhập lại mật khẩu
                        input.form-control(type="password" id="confirmPassword" name="confirmPassword" required)
                    button.btn.btn-primary(type="submit" class="w-100") Đổi mật khẩu